.my-block
    padding 20px

    user-select none

    &__increment,
    &__clear
        cursor pointer
        text-decoration dotted

        color blue

    &__increment:hover,
    &__clear:hover
        color red

    &__clear_disabled
        opacity 0.3
        pointer-events none
